extends layout

block content
  .page-header
    img(src="../images/k8istdX.jpg", alt="alt" width="150" class="center-block").img-home
  .container
    h6 About my bot
    p Riyeko is a complex discord bot made for my discord server #[code 「LoliLΞague」] which you can join #[a(href="https://discord.gg/bUeaty3") here]