footer
    .container.text-center
        p.pull-right #[a(href="https://github.com/HeraKumi/").fab.fa-github]| #[a(href="https://discord.gg/bUeaty3").fab.fa-discord] | #[a(href="https://twitter.com/LoliLeague").fab.fa-twitter]